<!--Partials/home.html-->
<h1>Build RealTime WebApp</h1>
<p class="lead">This is a demonstration web project which will use below software stack to build a realtime web app:</p>

<p class="lead">Front End</p>
<ol>
    <li>MVVM framework - angular.js</li>
    <li>Style Layout - bootstrap.js</li>
    <li>PubSub Messaging - mqttws31.js</li>
</ol>

<p class="lead">Back End</p>
<ol>
    <li>WebServer - Node.js</li>
    <li>Storage - Redis</li>
    <li>Messaging - MQTT Broker (Mosquitto)</li>
</ol>

<br/>
<br/>

<img src="assets/imgs/Protocols-Related-to-Internet-of-Things-IoT.png" class="img-responsive" />
<p>Image Source:<a href="http://www.techquark.com/2014/10/what-is-internet-of-things-iot.html">www.techquark.com</a></p>