<!--partials/iot_smartphone_collector.html-->
<div class="container">
    <div>
        <div class="row">
            <h1>MQTT IoT - Mobile Device Sensor Data Collector</h1>
            <p class="lead">A simple MQTT application which demonstrate how to collect Mobile device sensor data</p>
            <p>A moden mobile device, such as smartphone or pad, is equiped with many different sensors which can help application to identify the context of device owner.</p>
            <p>In this demo, you will need a smart phone or pad with accleration and motion sensors to make this web app works.</p>
        </div>
        <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true}'></toasty-container>

        <div class="row">
            <div class="form-group">
                <label class="control-label">Your nick name?</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-child"></i></span>
                    <input type="text" class="form-control" ng-model="deviceOwner">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label">A unique id of the device (phone number)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                    <input type="text" class="form-control" ng-model="deviceId">    
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="connect()" ng-show="!isConnected && isMobileDevice">Connect</button>
                        <button class="btn btn-default" type="button" ng-click="disconnect()" ng-show="isConnected && isMobileDevice">Disconnect</button>
                    </span>
                </div>
                <span class="text-success" ng-show="isConnected && isMobileDevice"><i class="fa fa-check"></i> Connected</span>
            </div>
        </div>

        <div class="row" ng-show="!isMobileDevice">
            <h3>Mobile device detection</h3>
            <p class="text-danger">In order to make this web app works, please use your smart phone or pad to open this web page!!</p>
        </div>

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Device Info</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-md-4 text-center"><strong>OS</strong></div>
                        <div class="col-xs-4 col-md-4 text-center"><strong>Browser</strong></div>
                        <div class="col-xs-4 col-md-4 text-center"><strong>Device</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-4 text-center">{{os}}</div>
                        <div class="col-xs-4 col-md-4 text-center">{{browser}}</div>
                        <div class="col-xs-4 col-md-4 text-center">{{device}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="isMobileDevice">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Movement</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-md-4 text-center"><strong>Alpha</strong></div>
                        <div class="col-xs-4 col-md-4 text-center"><strong>Beta</strong></div>
                        <div class="col-xs-4 col-md-4 text-center"><strong>Gamma</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-4 text-center">{{oa | number : 2}}</div>
                        <div class="col-xs-4 col-md-4 text-center">{{ob | number : 2}}</div>
                        <div class="col-xs-4 col-md-4 text-center">{{og | number : 2}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="isMobileDevice">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Acceleration</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4 col-md-4 text-center"><strong>X</strong></div>
                        <div class="col-xs-4 col-md-4 text-center"><strong>Y</strong></div>
                        <div class="col-xs-4 col-md-4 text-center"><strong>Z</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-4 text-center">{{ax | number : 2}}</div>
                        <div class="col-xs-4 col-md-4 text-center">{{ay | number : 2}}</div>
                        <div class="col-xs-4 col-md-4 text-center">{{az | number : 2}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>